/* --------------  Global --------------  */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* --------------  Typography --------------  */

body {
  font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif !important;
  margin: 0;
}

.zoom-in {
  width: 200px;
  position: fixed;
  transition: width 1.5s;
}
