/* --------------  Global --------------  */

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* --------------  Typography --------------  */

body {
  font-family: 'Roboto', Arial, Arial, Helvetica, sans-serif !important;
  margin: 0;
}

.zoom-in {
  width: 200px;
  position: fixed;
  transition: width 1.5s;
}

/* -------------- Unselectable text -------------- */
.unselectable-text {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
